<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
        <property name="databaseName" value="moneygraph"/>
        <property name="user" value="root"/>
        <property name="password" value="0000"/>
    </bean>

    <bean id="configuration" class="org.jooq.impl.DefaultConfiguration">
        <property name="dataSource" ref="dataSource"/>
        <property name="SQLDialect" value="MYSQL"/>

    </bean>

    <bean class="org.nazymko.moneygraph.storage.dao.autodao.tables.daos.JooqRawsmsDao">
        <constructor-arg name="configuration" ref="configuration"/>
    </bean>

    <bean class="org.nazymko.moneygraph.storage.dao.autodao.tables.daos.JooqParsedsmsDao">
        <constructor-arg name="configuration" ref="configuration"/>
    </bean>


    <bean class="org.nazymko.moneygraph.storage.dao.autodao.tables.daos.JooqParsedsmsDetailsDao">
        <constructor-arg name="configuration" ref="configuration"/>
    </bean>


</beans>